@import url('boilerplate-start.css');
@import url('vendors.css');

*:focus { outline: none; }

html {
    text-align: center;
    background: #fafafa;
}


pre {
    text-align: left;
}

@import url('boilerplate-end.css');